@model ProductlistViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<h1>@Model.CurrentCategory</h1>


<div class="card-deck">

    @foreach (var item in Model.AllProduct)
    {
       <partial name="_PieCard" model="item" />
    }

</div>



